{% extends './base.html' %}
{% block content %}
<main class="main">
    <span style="font-size: 35px;">
        <a href="{% url 'anime_detail_page' episode.season.anime.slug %}" style="margin-bottom: 16px; font-size: 35px; color: white;">{{ episode.season.anime.name }}</a> 
        {{ episode.episode_number }} серия
    </span>
    <h4 style="margin-top: 20px;">{{ episode.title }}</h4>

    <div class="episode-grid">
        <!-- Центр -->
        <div class="container">
            <div class="player">
                {% if episode.video %}
                <video width="100%" controls style="border-radius:10px; margin-bottom:25px; display:block; max-height:440px;">
                    <source src="{{ episode.video.url }}" type="video/mp4">
                </video>
                {% else %}
                <div style="width:100%; height:500px; background:#1b1b24; border-radius:10px; display:flex; align-items:center; justify-content:center; margin-bottom:25px; color:#aaa; font-size:18px;">
                    🎬 Видео пока не добавлено
                </div>
                {% endif %}
            </div>
            <div class="episode-nav">
                {% if prev_episode %}
                <a href="{% url 'episode_detail' prev_episode.id %}" class="nav-btn">◀ {{ prev_episode.episode_number }} серия</a>
                {% else %}
                <a href="{% url 'anime_detail_page' episode.season.anime.slug %}#wached" class="nav-btn">Все серии</a>
                {% endif %}
                {% if next_episode %}
                <a href="{% url 'episode_detail' next_episode.id %}" class="nav-btn">{{ next_episode.episode_number }} серия ▶</a>
                {% else %}
                <a href="{% url 'anime_detail_page' episode.season.anime.slug %}#wached" class="nav-btn">Все серии</a>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}